<div class="container mt-3">
    <div class="row">
        <form [formGroup]="formulario" (ngSubmit)="editarInscripcion()">
            <mat-form-field class="col-md-12">
                <mat-label>Alumno</mat-label>
                <mat-select formControlName="alumno" [(value)]="alumnoSelected">
                    <mat-option *ngFor="let alumno of alumnos$ | async" [value]="alumno.id">
                        {{ alumno.apellido}}, {{ alumno.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>Curso</mat-label>
                <mat-select formControlName="curso" [(value)]="cursoSelected">
                    <mat-option *ngFor="let curso of cursos$ | async" [value]="curso.id">
                        {{ curso.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-md-6 mt-3">
                <button mat-raised-button color="primary" type="submit"  [disabled]="formulario.invalid">Guardar</button>
                </div>
        </form>
    </div>
</div>
