<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <app-alumnos-lista *ngIf="alumnosListaVisible" [listaAlumnos]="listaAlumnos"
                (byAgregar)="btnAgregar($event)" (byEditar)="btnEditar($event)"
                (byEliminar)="btnEliminar($event)"></app-alumnos-lista>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <app-alumnos-abm *ngIf="alumnosAbmVisible" (bySalir)="btnSalir($event)" (byAlumno)="alumnoAgregar($event)"
                [alumno]="alumno"></app-alumnos-abm>
        </div>
    </div>
</div>
