<div class="container-fluid p-0 m-0">
    <div class="row center">
        <div class="col-12">
            <p class="color-primario">Instituo Modelo</p>
        </div>
    </div>
    <div class="row center">
        <div class="col-4"></div>
        <div class="col-4">
            <mat-divider></mat-divider>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row center">
        <div class="col-12">
            <p>&copy;2023 - Todos los derechos reservados</p>
        </div>
    </div>

</div>