<div class="container fondo">
    <div class="row">
        <div class="col-12 mt-5"></div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <button mat-flat-button color="warn" class="boton" (click)="btnMenu('inicio')">Inicio</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <button mat-flat-button color="warn" class="boton" (click)="btnMenu('alumnos')">Alumnos</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <button mat-flat-button color="warn" disabled="true" class="boton">Cursos</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <button mat-flat-button color="warn" disabled="true" class="boton">Clases</button>
        </div>
    </div>
</div>