<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 center">
            <h1 appLetras20>Bienvenidos!!!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cursos</mat-card-title>
                    <mat-card-subtitle>Diseño, Programacion, Data</mat-card-subtitle>
                </mat-card-header>
                <img class="card-imagen" mat-card-image  src="https://img.freepik.com/vector-gratis/lugar-trabajo-computadora-empresario-vista-superior-concepto-vista-mesa-superior-plana-equipo-creativo-personas-negocios-coleccion-conceptual-personas-creativas-sitio-web_126523-1263.jpg" alt="">
                <mat-card-content></mat-card-content>
                <mat-card-footer>Consultanos</mat-card-footer>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Carreras</mat-card-title>
                    <mat-card-subtitle>Diseño, Full Stack, Data Scientist</mat-card-subtitle>
                </mat-card-header>
                <img class="card-imagen" mat-card-image src="https://img.freepik.com/vector-premium/concepto-cursos-linea_23-2148514212.jpg?w=2000" alt="">
                <mat-card-content></mat-card-content>
                <mat-card-footer>Consultanos</mat-card-footer>
            </mat-card>

        </div>
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Servicios</mat-card-title>
                    <mat-card-subtitle>Entrevistas, Portfolio, Linkedln</mat-card-subtitle>
                </mat-card-header>
                <img class="card-imagen" mat-card-image src="https://img.freepik.com/vector-gratis/centro-datos-redes-sociales-estadisticas-smm-investigacion-marketing-digital-analisis-tendencias-mercado-experta-que-estudia-resultados-encuesta-linea_335657-2392.jpg" alt="">
                <mat-card-content></mat-card-content>
                <mat-card-footer>Consultanos</mat-card-footer>
            </mat-card>

        </div>
    </div>
</div>
