<div class="container-fluid m-0 p-0 fondo">
    <div class="row">
        <div class="col-12">
            <ng-container *ngIf="sesion$ | async as sesion">
            <mat-toolbar color="primary">
                <span appLetras20>Instituto Modelo</span>
                <span class="example-spacer"></span>
                <span *ngIf="sesion.sesionActiva">Bienvenido {{sesion.usuarioActivo?.usuario | uppercase}}</span>
            </mat-toolbar>
        </ng-container>
        </div>
    </div>
</div>
