<div class="container mt-3">
    <div class="row">
        <form [formGroup]="formulario" (ngSubmit)="agregarInscripcion()">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <div class="col-md-6 mt-3">
                <button mat-raised-button color="primary" type="submit"  [disabled]="formulario.invalid">Guardar</button>
                </div>
        </form>
    </div>
</div>
