<div class="container mt-3">
    <div class="row">
        <form [formGroup]="formulario" (ngSubmit)="editarCurso()">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Comision</mat-label>
                <input matInput formControlName="comision">
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Profesor</mat-label>
                <mat-select formControlName="profesor" [(value)]="selected">
                    <mat-option *ngFor="let profesor of profesores$ | async" [value]="profesor.id">
                        {{ profesor.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
            <div class="col-md-6">
           <mat-slide-toggle formControlName="inscripcionAbierta">Inscripcion Abierta</mat-slide-toggle>
            </div>
            <div class="col-md-6 mt-3">
                <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Guardar</button>
                </div>
        </form>
    </div>
</div>


