<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 appLetras20>Registro de Alumnos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formularioRegistro" (ngSubmit)="registrar($event)">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input formControlName="nombre" type="text" name="nombre" id="nombre" class="form-control"
                                placeholder="Nombre">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['nombre'].dirty && formularioRegistro.controls['nombre'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['nombre'].dirty && formularioRegistro.controls['nombre'].errors?.['required']">
                                El campo nombre no puede ser vacio
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input formControlName="apellido" type="text" name="apellido" id="apellido"
                                class="form-control" placeholder="Apellido">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['apellido'].dirty && formularioRegistro.controls['apellido'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['apellido'].dirty && formularioRegistro.controls['apellido'].errors?.['required']">
                                El campo apellido no puede ser vacio
                            </div>
                        </div>
                    </div>
                    <div class="row  mb-3">
                        <div class="col-12">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input formControlName="direccion" type="text" name="direccion" id="direccion"
                                class="form-control" placeholder="Calle, Numero, Piso, Departamento">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['direccion'].dirty && formularioRegistro.controls['direccion'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['direccion'].dirty && formularioRegistro.controls['direccion'].errors?.['required']">
                                El campo direccion no puede ser vacio
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input formControlName="correo" type="email" class="form-control" id="email" name="email"
                                placeholder="Email">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].errors?.['required']">
                                El campo direccion no puede ser vacio
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].errors?.['pattern']">
                                El formato del correo es invalido
                            </div>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="telefonoFijo" class="form-label">Telefono Fijo</label>
                            <input formControlName="telefonoFijo" type="text" name="telefonoFijo" id="telefonoFijo"
                                class="form-control" placeholder="Telefono Fijo">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['telefonoFijo'].dirty && formularioRegistro.controls['telefonoFijo'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['telefonoFijo'].dirty && formularioRegistro.controls['telefonoFijo'].errors?.['required']">
                                El campo telefono fijo no puede ser vacio
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['telefonoFijo'].dirty && formularioRegistro.controls['telefonoFijo'].errors?.['pattern']">
                                El formato del telefono fijo es invalido
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="telefonoCelular" class="form-label">Telefono Celular</label>
                            <input formControlName="telefonoCelular" type="text" name="telefonoCelular"
                                id="telefonoCelular" class="form-control" placeholder="Telefono Celular">
                            <div class="valido texto"
                                *ngIf="formularioRegistro.controls['telefonoCelular'].dirty && formularioRegistro.controls['telefonoCelular'].valid">
                                Campo Correcto
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['telefonoCelular'].dirty && formularioRegistro.controls['telefonoCelular'].errors?.['required']">
                                El campo telefono celular no puede ser vacio
                            </div>
                            <div class="invalido texto"
                                *ngIf="formularioRegistro.controls['telefonoCelular'].dirty && formularioRegistro.controls['telefonoCelular'].errors?.['pattern']">
                                El formato del telefono celular es invalido
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary" [disabled]="formularioRegistro.invalid"
                                mat-raised-button color="primary">Guardar</button>
                        </div>
                        <div class="col-8">
                            <button type="reset" class="btn btn-success" mat-raised-button
                                color="primary">Resetear</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="salir()" mat-flat-button
                                color="warn">Salir</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>